body {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    color: black;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-flow: column nowrap;
    margin: 0px !important;
	padding: 0px !important;
	border: 0px  hidden black !important;
    font-family: sans-serif !important;
    z-index: -1;
    overflow: hidden;
}

.clerkName {
    background-color: #3a343a;
    border: hidden;
    z-index: 10;
}

.overlay-forground {
    z-index: 11;
    color: #ffffff;
    background-color: #6c6e71;
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 4px hidden black;
    flex-flow: column nowrap;
    top: 15%;
    left: 7.5%;
    height: 65%;
    width: 85%;
}

.overlay-background {
    z-index: 10;
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    border: 4px solid black;
    top: 15%;
    left: 7.5%;
    opacity: 20%;
    height: 65%;
    width: 85%;
    box-shadow: black;
}

.sub-rounded {
    padding: 0;
    margin: 0;
    border: 0 hidden;
    z-index: 10;
    color: black;
    font-size: 50px;
    

}

.rounded-box {
    background-color: #fff;
    width: 70%;
    height: 10%;
    border-radius: 10px;
    justify-content: center;
    align-items: start;
    text-align: start;
}
.centered-div {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 125px);
    gap: 0;
    row-gap: 0;
    grid-auto-rows: auto;
    height: 45vh;
    width: 125px;
    align-items: center; /* Center vertically */
    justify-content: center;
    text-align: center;


}
.number-option {
    display: flex; /* Flexbox to center text */
    align-items: start; /* Center vertically */
    justify-content: center;
    
    align-content: center;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: #c0c0c0;
    color: #fff;
    border: 0px hidden;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    font-size: 22px;

}

.seperate-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.attached-left{
    left: 20vw;
}

.back {
    right: 0;
}

.hook-left, .attached-left, .back{
    
    position: fixed;
    background-color: #494949;
    color: #e7e4df;
    width: 20vw;
    height: 12.5vh;
    border-top: 1px hidden;
    border-left: 1px hidden;
    border-right: 1px hidden;
    border-bottom: 1px solid grey;
    z-index: 3;
    bottom: 15vh;

    
}

.left, .middle, .right {
    flex-wrap: nowrap;
    padding: 0 5%;
    flex: 0 0 auto;
}   

.head {
    background-color: #3a343a;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    border: 1px solid black;
}

.chosen {
    display: flex;
    top: 10vh;
    position: fixed;
    flex-flow: column nowrap;
    background-color: #c2c2c2;
    height: 30vh;
    width: 100vw;
    border: 1px solid black;
    overflow-y: auto;
    overflow: auto;
    box-sizing: border-box;
    
}

p {
    padding: inherit;
    margin: inherit;
    box-sizing: border-box;
}

.stats {
    top: 29.9vh;
    display: flex;
    position: fixed;
    background-color: #bec0bd;
    height: 10vh;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    border: 1px solid black;
} 

.grid-container {
    display: grid;
    position: fixed;
    bottom: 15vh;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    row-gap: 0;
    grid-auto-rows: 12.5vh;
    background-color: #9a9c96;
    height: 45vh;
    width: 100vw;
    border: 1px solid black;
    border-bottom: 1px solid grey;
    overflow-y: hidden;
    z-index: 1;
    overflow: hidden;
    
}

.grid-item {
    background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 255), #eee,   #000);
    background-color: grey;
    background-position: center;
    text-wrap: wrap;
    background-size: cover;
    border: 1px solid #908d91;
    height: 1fr;
    padding: 0;
    background-color: #f2f2f2;
    /*text-align: center; 
    line-height: 12.5vh;
    height: 12.5vh; 
    align-self: start; */
    display: flex; /* Flexbox to center text */
    align-items: start; /* Center vertically */
    justify-content: start;
    text-align: start;
    font-size: 16px;
    
    
}

.invisible {
    border: hidden;
    padding: 0;
    margin: 0;
    background-color: inherit;
}

.bottom {
    position: fixed;
    bottom: 0%;
    background-color: #6b6b6b;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    width: 100vw;
    border: 1px solid grey;
    z-index: 2;
}
.miscSelection, 
.OrderSelection, 
.TableSelection, 
.FinalSelection, 
.ConfigSelection {
    display: flex;
    background-color: #5a5a58;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    color: black;
    width: 19.5vw;
    height: 100%;
    border: 1px solid grey;
}

.miscSelection img,
.OrderSelection img,
.TableSelection img,
.FinalSelection img, 
.ConfigSelection img{
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    display: block;
    margin-bottom: -10px;
}

.bottomButton {
    background-color: #5a5a58;
    border: 0;
    margin-top: 20px;
    margin-bottom: -10px;
}