body {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    color: black;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-flow: column nowrap;
    margin: 0px !important;
	padding: 0px !important;
	border: 0px  hidden black !important;
    font-family: sans-serif !important;
    z-index: -1;
    overflow: hidden;
}
.seperate-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.attached-left{
    left: 20vw;
}
.back {
    right: 0;
}
.hook-left, .attached-left, .back{
    
    position: fixed;
    background-color: #494949;
    color: #e7e4df;
    width: 20vw;
    height: 12.5vh;
    border-top: 1px hidden;
    border-left: 1px hidden;
    border-right: 1px hidden;
    border-bottom: 1px solid grey;
    z-index: 3;
    bottom: 15vh;

    
}

.left, .middle, .right {
    flex-wrap: nowrap;
    padding: 0 5%;
    flex: 0 0 auto;
}   

.head {
    background-color: #3a343a;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    border: 1px solid black;
}
.chosen {
    background-color: #c2c2c2;
    height: 30vh;
    width: 100vw;
    border: 1px solid black;
    
}
.stats {
    background-color: #bec0bd;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    border: 1px solid black;
} 
.grid-container {
    display: grid;
    position: fixed;
    bottom: 15vh;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    row-gap: 0;
    grid-auto-rows: 12.5vh;
    background-color: #9a9c96;
    height: 45vh;
    width: 100vw;
    border: 1px solid black;
    border-bottom: 1px solid grey;
    overflow-y: hidden;
    z-index: 1;
    overflow: hidden;
    
}

.grid-item {
    background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 255), #eee,   #000);
    background-color: grey;
    background-position: center;
    text-wrap: wrap;
    background-size: cover;
    border: 1px solid #908d91;
    height: 1fr;
    padding: 0;
    background-color: #f2f2f2;
    /*text-align: center; 
    line-height: 12.5vh;
    height: 12.5vh; 
    align-self: start; */
    display: flex; /* Flexbox to center text */
    align-items: start; /* Center vertically */
    justify-content: start;
    text-align: start;
    font-size: 16px;
    
    
}
.invisible {
    border: hidden;
    padding: 0;
    margin: 0;
    background-color: inherit;
}


.bottom {
    position: fixed;
    bottom: 0%;
    background-color: #6b6b6b;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    width: 100vw;
    border: 1px solid grey;
    z-index: 2;
}
.miscSelection, 
.OrderSelection, 
.TableSelection, 
.FinalSelection, 
.ConfigSelection {
    display: flex;
    background-color: #5a5a58;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    color: black;
    width: 19.5vw;
    height: 100%;
    border: 1px solid grey;
}
.miscSelection img,
.OrderSelection img,
.TableSelection img,
.FinalSelection img, 
.ConfigSelection img{
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    display: block;
    margin-bottom: -10px;
}

.bottomButton {
    background-color: #5a5a58;
    border: 0;
    margin-top: 20px;
    margin-bottom: -10px;
}